body{
	margin:0;
	padding:0;
}
@face-font{
font-family: 'Shadows Into Light', cursive;
}
#main{
	width:960px;
	height:500px;
	margin:10px auto;
}
#frame{
	width:958px;
height:500px;
}
#logo{
	width:150px;
	height:100px;
	position:relative;
	right:128px;
}
#logo:hover{
	transform:rotate(360deg);
	transition:.9s;
}
#banner{
	width:
	height:
}
#me{
	position:relative;
	left:800px;
	top:5px;
}
ul {
	list-style:none;
	
}
ul li{
	float:left;
	width:150px;
	border:1px solid;
	text-align:center;
	line-height:30px;
}

ul li a{
	text-decoration:none;
	color:black;
	font-family:Shadows Into Light;
	font-size:25px;
	font-weight:bold;
	display:block;
}
#menu{
	position:relative;
	left:200px;
	bottom:10px;
	font-family:verdana;
	font-size:18px;
}
h1{
position:relative;
bottom:100px;
left:220px;
margin-top:40px;
font-family:Bree Serif;
font-size:45px;
transition:all .5s;
color:white;
}
ul li:hover {
	background:green;
}
h1:hover{
	margin-left:10px;
}
.head{
	width:960px;
	height:150px;
	background:black;
}
span{
background:yellow;
font-size:20px;
font-weight:bold;	
}
h2{
text-align:center;
font-size:25px;
font-weight:bold;
font-family:Bree Serif;
text-decoration:underline;
background:green;
}
#geo{
	position:relative;
	left:110px;
}
p{
	text-align:center;
font-size:18px;
font-weight:bold;
font-family:verdana;
}
#hoj{position:relative;
	left:200px;
}
h3{
text-align:center;
font-size:25px;
font-weight:bold;
font-family:Bree Serif;
text-decoration:underline;
background:green;
}
#naga{
	position:relative;
	left:200px;
}
h4{
text-align:center;
font-size:25px;
font-weight:bold;
font-family:Bree Serif;
text-decoration:underline;
background:green;
}
.new{
	width:960px;
	height:500px;
	border:1px solid;
}
